/target
/lib
/classes
/checkouts
/data
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
*.swn
*.swo
*.swp
.boot
.lein-*
.#
.#*
Procfile
project.clj
resources/


# Mac cruft
.DS_Store
