[[tailrecursion/boot.task   "2.1.1"]
 [tailrecursion/hoplon      "5.5.0"]
 [tailrecursion/boot.notify "2.0.0-SNAPSHOT"]
 [tailrecursion/boot.ring   "0.1.0-SNAPSHOT"]
 [org.clojure/clojurescript "0.0-2156"]
 [honeysql "0.4.3"]
 [org.clojure/java.jdbc "0.3.3"]
 [postgresql/postgresql "8.4-702.jdbc4"]
 [hearst "0.1.1-SNAPSHOT"]
 [com.cemerick/url "0.1.1"]
 [com.cemerick/friend "0.2.0"]]
